<% layout('template/layout') -%>
<!-- Main content -->
<section class="content">
    <div id="users" class="row">
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-aqua-active">
                <div class="widget-user-image">
                    <div class="c100 p30 small orange" style="margin-top: -9px;">
                      <span><img class="img-circle" src="/images/user7-128x128.jpg" alt="User Avatar" style="width: 86%; margin-top: -5px;"></span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                    </div>
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">AEK</h3>
                <h5 class="widget-user-desc">XSP</h5>
              </div>
              <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                  <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                  <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                  <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                  <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                </ul>
              </div>
            </div>
            <!-- /.widget-user -->
        </div>
    </div>
</section>
